body {
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
}

thead, tfoot {
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
}

thead td, tfoot td {
    padding: 0.4em;
}

td {
    border: 1px solid black;
    margin: 0;
}

.sort_button_0, .sort_button_1, .sort_button_2 {
    width: 2em;
    height: 1em;
}

.epic {
    display: none;
}