/* DYNAMIC TABLE STYLING */

/* cell */
.dyntable_cell {
    color: inherit;
}

/* sort button */
.dyntable_sort {
    font-size: 1.2em;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin: 0 0.2em;
    background-color: white;
}

/* filter input */
.dyntable_filter {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 2px;
}

/* DEMO STYLE */

body {
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

thead, tfoot {
    background-color: #46d;
    color: white;
    font-weight: bold;
    text-align: center;
}

thead td, tfoot td {
    padding: 0.4em;
}

td {
    border: 1px solid #ddd;
    margin: 0;
    padding: 4px;
}

tbody tr:nth-child(2n) {
    background-color: #f2f2f2;
}